{% extends 'default/base.html.twig' %}
{% from "default/macros/form.html.twig" import input_field, input_checkbox %}

{% block title %}{% trans %}Création d'un instructeur{% endtrans %}{% endblock %}

{% block body %}

    <div class="container">
        <h1>{% trans %}Création d'un instructeur{% endtrans %}</h1>
        <p class="title-notice notice">{% trans %}Tous les champs comportants * sont obligatoires.{% endtrans %}</p>

        <div class="container-small">
        {{ form_start(instructorForm, {'attr': {'id': 'form_user', 'class': 'form-custom form-add-user'}}) }}
            <div class="inputs-wrapper">
                {{ input_field(instructorForm.firstName) }}
                {{ input_field(instructorForm.lastName) }}
                {{ input_field(instructorForm.email) }}
                {{ input_field(instructorForm.phone) }}
                {{ input_checkbox(instructorForm.responseType, true) }}
                {{ input_field(instructorForm.initials) }}
            </div>

            <div class="flex-container align-right">
                {{ form_row(instructorForm.send, {'attr': {'class': 'border-button'}}) }}
            </div>
            {{ form_end(instructorForm) }}
        </div>

        <a href="{{ path('admin_instructor_list') }}" title="{% trans %}Retour à la gestion des instructeurs{% endtrans %}" class="back-link">
            <i class="icon-back"></i> {% trans %}Retour à la gestion des instructeurs{% endtrans %}
        </a>
    </div>

{% endblock %}
