// Style boutons et liens

.border-button {
  display:          flex;
  align-items:      center;
  justify-content:  center;
  position:         relative;
  padding:          1.5rem 2rem;
  cursor:           pointer;
  font-weight:      700;
  text-align:       center;
  text-transform:   uppercase;
  border:           none;
  box-shadow:       none;
  color:            $blanc;
  background-color: $bleu-med;

  &::before, &::after {
    position:   absolute;
    top:        .5rem;
    left:       .5rem;
    right:      .5rem;
    bottom:     .5rem;
    content:    "";
    transition: top .3s ease-in-out .1s, left .3s ease-in-out .1s, right .3s ease-in-out .1s, bottom .3s ease-in-out .1s, opacity .3s ease-in-out;
  }

  &::before {
    border-top:  .1rem solid $dore-clair;
    border-left: .1rem solid $dore-clair;
  }

  &::after {
    border-right:  .1rem solid $dore-clair;
    border-bottom: .1rem solid $dore-clair;
  }

  span {
    position: relative;

    &::before {
      position:         absolute;
      left:             50%;
      bottom:           -.3rem;
      width:            0;
      height:           .2rem;
      content:          "";
      background-color: $dore-clair;
      transform:        translateX(-50%);
      transition:       width .3s ease-in-out;
    }
  }

  &:hover {
    &::before, &::after {
      opacity: 0;
    }

    &::before {
      right:      100%;
      bottom:     100%;
      transition: right .3s ease-in-out, bottom .3s ease-in-out, opacity .1s ease-in-out .2s;
    }

    &::after {
      top:        100%;
      left:       100%;
      transition: left .3s ease-in-out, top .3s ease-in-out, opacity .1s ease-in-out .2s;
    }

    span::before {
      width: 100%;
    }
  }

  &.admin-button {
    height:           14rem;
    font-size:        1.5rem;
    text-transform:   initial;
    background-color: $bleu-fonce;
    box-sizing:       border-box;

    @media (max-width: $large) {
      flex-grow:  1;
      flex-basis: calc(50% - 2rem);
    }

    @media (max-width: $small-plus) {
      flex-basis: 100%;
      height:     9rem;
    }

    i {
      margin-left: .3rem;
    }
  }
}

.back-link {
  display:    block;
  padding:    2rem 0 0;
  text-align: right;

  &:hover {
    text-decoration: underline;
  }
}
