// Reset formulaires

input:-webkit-autofill { // Fond jaune sur Chrome
  -webkit-box-shadow: 0 0 0 3rem $blanc inset;
}

::-ms-clear, ::-ms-reveal {
  display: none;
}

label {
  font-weight: 700;
}

textarea,
input[type="text"],
input[type="password"],
input[type="search"],
input[type="email"],
input[type="button"],
input[type="submit"],
input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance:    none;
  -ms-appearance:     none;
  appearance:         none;
}

textarea,
input[type="text"],
input[type="password"],
input[type="search"],
input[type="email"],
input[type="number"],
input[type="submit"] {
  padding:          1.5rem 2rem;
  border-radius:    0;
  outline:          none;
  box-shadow:       none;
  border:           .1rem solid $dore-clair;
  background-color: $blanc;
  transition:       border-color .3s ease-in-out;

  &:focus {
    border-color: $bleu-fonce;
  }

  @media (max-width: $small) {
    padding: 1rem 1.5rem;
  }
}

select, input[type="date"] {
  padding:          1.5rem 2rem;
  outline:          none;
  box-shadow:       none;
  border:           none;
  background-color: $gris-clair;

  @media (max-width: $small) {
    padding: 1rem 1.5rem;
  }

  &:focus {
    border: 1px solid $bleu-fonce;
  }
}

input[type="date"] {
  width: 17rem;
}

input[type="number"] {
  width: auto;
}

input[type="checkbox"] {
  position:         relative;
  height:           2rem;
  width:            2rem;
  min-width:        2rem;
  min-height:       2rem;
  cursor:           pointer;
  outline:          none;
  border:           .1rem solid rgba($bleu-med, .5);
  background-color: $blanc;

  &::before {
    position:                absolute;
    top:                     50%;
    left:                    50%;
    content:                 "\e924";
    font-family:             "icomoon", serif !important;
    speak:                   none;
    font-size:               1.6rem;
    font-style:              normal;
    font-weight:             normal;
    font-variant:            normal;
    text-transform:          none;
    line-height:             1;
    -webkit-font-smoothing:  antialiased;
    -moz-osx-font-smoothing: grayscale;
    opacity:                 0;
    color:                   $success;
    transform:               translateX(-50%) translateY(-50%) scale(.8);
    transition:              all .3s ease-in-out
  }

  &:checked::before {
    opacity:   1;
    transform: translateX(-50%) translateY(-50%) scale(1);
  }

  &:focus {
    border-color: $bleu-fonce;
  }
}

// Placeholder

::-webkit-input-placeholder, ::-moz-placeholder, :-ms-input-placeholder, :-moz-placeholder {
  color: $gris-med;
}

// Custom

.form-custom {
  margin: 2rem 0;
}

.inputs-wrapper {
  margin: 0 -1rem 2rem;

  @media (max-width: $small-plus) {
    display:        flex;
    flex-direction: column;
    align-items:    center;
    margin:         0 0 2rem;
  }

  .input-wrapper {
    margin: 1rem;

    @media (max-width: $small-plus) {
      margin: .5rem;
    }
  }

  .field-error {
    margin:    -5px 1rem 20px auto;
    width:     45rem;
    max-width: 100%;

    @media (max-width: $small-plus) {
      width:  40rem;
      margin: 0 .5rem 10px .5rem;
    }

    ul {
      padding: 0;
      margin:  0;

      li {
        padding:         0;
        margin:          0;
        color:           #B74242;
        list-style-type: none;
      }
    }
  }
}

.input-wrapper-authent {
  display:        flex;
  flex-direction: column;
  margin-bottom:  1.5rem;

  a {
    margin: .5rem 0 .5rem auto;
  }
}

.input-wrapper {
  position:        relative;
  display:         flex;
  justify-content: space-between;
  align-items:     center;

  @media (max-width: $small-plus) {
    flex-direction:  column;
    align-items:     flex-start;
    justify-content: flex-start;
    width:           40rem;
    max-width:       100%;
  }

  label {
    margin: 0 2rem 0 0;

    @media (max-width: $small-plus) {
      margin: 0 0 .5rem 0;
    }
  }

  input, select, textarea {
    width:     45rem;
    max-width: 100%;

    @media (min-width: $small-plus + 1) {
      min-width: 45rem;
    }

    @media (max-width: $small-plus) {
      width: 100%;
    }
  }

  .show-field {
    position:    absolute;
    right:       -2.5rem;
    bottom:      0;
    font-size:   3rem;
    line-height: 51px;

    @media (max-width: $small-plus) {
      line-height: 41px;
    }
  }

  &.input-info {
    position: relative;

    .info {
      position:   absolute;
      cursor:     help;
      font-size:  2rem;
      color:      $bleu-med;
      transition: color .3s ease-in-out;

      @media (min-width: $small-plus + 1) {
        top:       50%;
        right:     -3rem;
        transform: translateY(-50%);
      }

      @media (max-width: $small-plus) {
        right:  1rem;
        bottom: .6rem;
      }

      &:hover {
        color: $bleu-fonce;
      }

      .info-text {
        display:               none;
        font-size:             1.2rem;
        color:                 #FFFFFF;
        background:            rgba(51, 51, 51, 0.75);
        padding:               5px;
        border-radius:         4px;
        -moz-border-radius:    4px;
        -webkit-border-radius: 4px;
        width:                 220px;
        text-align:            center;
        position:              absolute;
        z-index:               10;
      }

      &:hover .info-text {
        display: inline-block;
      }
    }
  }
}

.dates-select {
  display:          flex;
  align-items:      center;
  margin-bottom:    2rem;
  background-color: $bleu-clair;

  @media (max-width: $large) {
    flex-direction: column;
  }

  p {
    margin:  0 auto 0 0;
    padding: 1rem 1.5rem;
  }

  label {
    margin: 0 1rem 0 2rem;
  }

  input {
    @media (max-width: $large) {
      flex-grow: 1;
    }

    @media (max-width: $small) {
      width: 100%;
    }
  }

  .inputs-date-wrapper, .input-date {
    display:     flex;
    align-items: center;
  }

  .inputs-date-wrapper {
    @media (max-width: $large) {
      width:      100%;
      border-top: .1rem solid rgba($bleu-med, .5);

      .input-date {
        flex-grow: 1;
      }
    }

    @media (max-width: $small) {
      flex-direction: column;

      .input-date {
        flex-direction: column;
        width:          100%;

        &:last-of-type {
          border-top: .1rem solid rgba($bleu-med, .5);
        }

        label {
          align-self: flex-start;
          margin:     0;
          padding:    1rem 1.5rem;
        }
      }
    }
  }

  #form_send {
    font-size: 0.9rem;
  }
}

.check-wrapper {
  display:     flex;
  align-items: center;
  margin:      0 0 2rem;

  @media (max-width: $small-plus) {
    display:         flex;
    flex-direction:  column;
    justify-content: flex-start;
    margin:          0 0 2rem;
  }

  label {
    margin:        0;
    padding-right: 3rem;

    @media (max-width: $small-plus) {
      margin: 0 0 .5rem 0;
    }
  }

  &:not(.agree-terms) {
    justify-content: space-between;
    align-items:     flex-start;
    margin:          20px 1rem;

    @media (max-width: $small-plus) {
      width: 40rem;
    }

    input {
      margin-right: 43rem;

      @media (max-width: $small-plus) {
        margin-right: 0;
      }
    }
  }

  &.check-multiple {
    div {
      display:   flex;
      flex-wrap: wrap;
      width:     45rem;
      max-width: 100%;

      input {
        width:         20px;
        margin-right:  10px;
        margin-bottom: 10px;
      }

      label {
        flex: 0 0 calc(100% - 30px);
      }
    }
  }

  > div {
    width: 45rem;

    .choice-item {
      margin-bottom: 5px;

      input[type=radio] {
        margin-right: 10px;
      }
    }

  }
}

.form-search {
  margin-bottom: 3rem;

  .inputs-wrapper-search {
    margin-bottom: 1rem;

    .input-search {
      flex-grow: 1;

      label {
        display: block;
        margin:  0 0 1rem;
      }

      select, input {
        width: 100%;
      }
    }
  }
}

.image-preview {
  margin:           0 1rem 0 auto;
  padding:          1rem;
  background-color: $gris-clair;
  width:            45rem;

  @media (max-width: $small-plus) {
    margin:    0 1rem 0 0;
    width:     40rem;
    max-width: 100%;
  }

  img {
    max-width:  100%;
    max-height: 130px;
  }
}

.file-link {
  margin: 0 1rem 0 auto;
  width:  45rem;
}

.settings {
  .inputs-wrapper {
    margin-bottom: 40px;
  }
}
