// Style titres

h1, h2, h3, h4 {
  font-family: $font-heading;
  font-weight: 700;
}

h1 {
  margin:    0 0 2rem;
  font-size: 2.2rem;

  @media (max-width: $small-plus) {
    margin:    0 0 1.5rem;
    font-size: 1.9rem;
  }
}

h2 {
  margin:    0 0 1.5rem;
  font-size: 1.8rem;
  color:     $bleu-med;

  @media (max-width: $small-plus) {
    margin:    0 0 1.2rem;
    font-size: 1.6rem;
  }
}

h3 {
  margin: 1.5rem 0;
}

.title-notice {
  margin:    -1.5rem 0 1.5rem;
  font-size: 1.2rem;
}

.notice {
  color: $error;
}
