<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{{ settings.data.appName }}{% endblock %}</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <link rel="icon" href="{{ uploaded_asset(settings.data.appFavicon) }}" />
        <meta name="msapplication-TileColor" content="#333772">
        <meta name="theme-color" content="#333772">
        <meta property="og:title" content="{{ settings.data.appName }}">

        {{ encore_entry_link_tags('app', null, 'default') }}
        {{ encore_entry_script_tags('app', null, 'default') }}

        {% block stylesheets %}{% endblock %}

        <link rel="stylesheet" type="text/css" media="all" href="{{ asset('styles.css') }}" />

        {% block head_javascripts %}{% endblock %}
    </head>
    <body {% if body_class is defined %} class="{{ body_class }}"{% endif %}>
        {% if not no_header is defined or no_header != 1 %}
            {% include 'default/utils/header.html.twig' %}
        {% endif %}

        <main>
            {% block body %}{% endblock %}
            {% block javascripts %}{% endblock %}
            <script type="text/javascript">
                const globalTranslations = {
                    'alertDelete': "{{ 'jsMessage.alertDelete' | trans | raw }}"
                }
            </script>
        </main>

        {% if not no_footer is defined or no_footer != 1 %}
            {% include 'default/utils/footer.html.twig' %}
        {% endif %}
    </body>
</html>
