{% if searchLogs %}
    <table class="table-sort table-search-logs">
        <thead>
        <tr>
            <th>{% trans %}N° de recherche{% endtrans %}</th>
            <th>{% trans %}Étude{% endtrans %}</th>
            <th>{% trans %}Nom{% endtrans %}</th>
            <th>{% trans %}Prénoms{% endtrans %}</th>
            <th>{% trans %}Date naissance{% endtrans %}</th>
            <th>{% trans %}Date décès{% endtrans %}</th>
            <th>{% trans %}Lieu décès{% endtrans %}</th>
            <th>{% trans %}Date acte{% endtrans %}</th>
            <th>{% trans %}N° individu{% endtrans %}</th>
            <th>{% trans %}Réponse{% endtrans %}</th>
            <th>{% trans %}Lien PDF{% endtrans %}</th>
            <th>{% trans %}Date recherche{% endtrans %}</th>
        </tr>
        </thead>
        <tbody>
        {% for searchLog in searchLogs %}
            <tr>
                <td>{{ searchLog.id }}</td>
                <td>
                    {% if searchLog.user %}
                        {{ searchLog.user.username }}
                    {% else %}
                        {{ 'userLogs.accountNotExist'|trans }}
                    {% endif %}
                </td>
                <td>
                    {% if searchLog.useName is empty or searchLog.civilName is empty %}
                        {% if searchLog.useName %}
                            {{ searchLog.useName }}
                        {% endif %}
                        {% if searchLog.civilName %}
                            {{ searchLog.civilName }}
                        {% endif %}
                    {% else %}
                        {% if settings.data.getSearchByName == constant('App\\Helper\\SearchHelper::SEARCH_BY_CIVIL_NAME') %}
                            {% if searchLog.useName %}
                                {% trans %}Nom civil :{% endtrans %} {{ searchLog.civilName }}<br/>
                                {% trans %}Nom d'usage :{% endtrans %} {{ searchLog.useName }}
                            {% endif %}
                        {% else %}
                            {% if searchLog.civilName %}
                                {% trans %}Nom d'usage :{% endtrans %} {{ searchLog.useName }}<br/>
                                {% trans %}Nom civil :{% endtrans %} {{ searchLog.civilName }}
                            {% endif %}
                        {% endif %}
                    {% endif %}
                </td>
                <td>
                    {% if searchLog.firstNames|length > 1 %}
                        <ul>
                            {% for firstName in searchLog.firstNames %}
                                <li>{{ firstName }}</li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        {{ searchLog.firstName }}
                    {% endif %}
                </td>
                <td data-sort="{{ searchLog.birthDate|date("c") }}">{{ searchLog.birthDate|date("d/m/Y") }}</td>
                <td data-sort="{{ searchLog.deathDate|date("c") }}">{{ searchLog.deathDate|date("d/m/Y") }}</td>
                <td>{{ searchLog.deathLocation }}</td>
                <td data-sort="{{ searchLog.deathCertificateDate|date("c") }}">{{ searchLog.deathCertificateDate|date("d/m/Y") }}</td>
                <td>
                    {% if searchLog.person %}
                        {{ searchLog.person }}
                    {% endif %}
                </td>
                <td>{{ ('responseType.' ~ searchLog.responseType)|trans }}</td>
                <td>
                    {% if search_has_pdf(searchLog.responseType) %}
                        <a href="{{ path('letter_pdf', {'id': searchLog.id}) }}"
                           title="{% trans %}Lien vers la lettre au format PDF{% endtrans %}" target="_blank">
                            PDF
                        </a>
                    {% else %}
                        Pas de PDF
                    {% endif %}
                </td>
                <td data-sort="{{ searchLog.searchDate|date("c") }}">{{ searchLog.searchDate|date("d/m/Y H:i:s") }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endif %}



