{% extends 'default/base.html.twig' %}

{% block title %}{% trans %}Recherche{% endtrans %}{% endblock %}

{% block body %}

    <div class="container">
        <h1>{% trans %}Résultat de la recherche{% endtrans %}</h1>

        <div class="container-small">
            {% include 'default/utils/messages.html.twig' %}

            <a href="{{ path('search') }}" title="{% trans %}Retour à la recherche{% endtrans %}" class="back-link">
                <i class="icon-back"></i> {% trans %}Retour à la recherche{% endtrans %}
            </a>
        </div>
    </div>

{% endblock %}
