<p>Bonjour,</p>
<p>
    Merci de suivre ce lien afin de réinitialiser votre mot de passe :<br/>
    <br/>
    <a href="{{ resetUrl }}">Réinitialisation du mot de passe</a><br/>
    <br/>
    Si vous n'avez pas demandé de réinitialisation de mot de passe, vous pouvez ignorer ce message.
</p>
<p>
    {{ settings.data.mailSignature|raw }}
</p>
