<p>Maître,</p>
<p>
    Vous nous interrogez au sujet d'une éventuelle créance du département, au nom de {{ firstName }}
    {{ name }} né·e le {{ birthDate|date("d/m/Y") }} et dont le décès est survenu le : {{ deathDate|date("d/m/Y") }}.
</p>
{% if (firstNameBdd|capitalize == firstName|capitalize) and (nameBdd|capitalize == name|capitalize) %}
    <p>
        Cette personne est <strong>connue</strong> du département, vous trouverez ci-joint la réponse de mes services.
    </p>
{% else %}
    <p>
        La personne {{ firstNameBdd }} {{ nameBdd }}, né·e le {{ birthDateBdd|date("d/m/Y") }} est
        <strong>connue</strong> du département, vous trouverez ci-joint la réponse de mes services.
    </p>
{% endif %}
<p>
    Je vous prie d'agréer, Maître, mes courtoises salutations
</p>
