// Fonts

// RobotoSlab

@font-face {
  font-family: "RobotoSlab";
  src:         url("#{$fonts-path}/RobotoSlab/RobotoSlab-Regular.woff2") format("woff2"),
               url("#{$fonts-path}/RobotoSlab/RobotoSlab-Regular.woff") format("woff"),
               url("#{$fonts-path}/RobotoSlab/RobotoSlab-Regular.ttf") format("truetype");
  font-weight: 300;
  font-style:  normal;
}

@font-face {
  font-family: "RobotoSlab";
  src:         url("#{$fonts-path}/RobotoSlab/RobotoSlab-Bold.woff2") format("woff2"),
               url("#{$fonts-path}/RobotoSlab/RobotoSlab-Bold.woff") format("woff"),
               url("#{$fonts-path}/RobotoSlab/RobotoSlab-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style:  normal;
}


