table.warning {
  border-collapse: collapse;
  border: 1px solid black;

  td {
    border: none;
  }

  .circle {
    background-color: transparent;
    border-radius:    50%;
    width:            32px;
    height:           32px;
    border:           2px solid $anthracite;

    .warning-icon {
      margin:       auto;
      font-size:    25px;
      font-weight:  bold;
      font-family:  Verdana, serif;
      padding-left: 4px;
    }
  }
}
